* {
    box-sizing: border-box;
}

.container {
    max-width: 1219px;
    margin: 0 auto;
    padding: 0 55px;
}

body {
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif, sans-serif;
}

.header__top {
    background-color: #007765;
    position: fixed;
    height: 84px;
    width: 100%;
}

.header__text {
    position: static;
    float: right;
    display: block;
    color: #ffffff;
    font-size: 24px;
    font-weight: 500;
    font-style: normal;
    line-height: 28px;
    background-color: #007765;
    padding: 28px 0;
}

.anchor1,
.anchor2,
.anchor3 {
    text-decoration: none;
    color: #ffffff;
    font-size: 24px;
    font-weight: 500;
    font-style: normal;
}

.header__text:after {
    clear: both;
    display: block;
}

.header__logo {
    padding: 20px 50px 0;
    position: static;
}

.jumbotron {
    background-image: url(../img/image.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    min-height: 403px;
    padding: 160px;
}

.jumbotron__title {
    color: #ffffff;
    font-style: normal;
    font-weight: 500;
    font-size: 72px;
    line-height: 84px;
    justify-content: center;
    text-align: center;
    padding: 76px;
}

.hero {
    background-image: url(../img/image_PPC.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    min-height: 403px;
}

.hero__title {
    color: #ffffff;
    font-style: italic;
    font-weight: 500;
    font-size: 48px;
    line-height: 56px;
    text-align: center;
    padding: 128px;
}

.problem,
.team {
    background-color: #EEEEEE;
}

.problem h2 {
    color: #007765;
    font-style: normal;
    font-weight: 500;
    font-size: 64px;
    line-height: 75px;
    justify-content: center;
    text-align: center;
    padding-top: 48px;
}

.problem_text {
    color: #000000;
    font-style: normal;
    font-weight: normal;
    font-size: 32px;
    line-height: 37px;
    padding: 16px 0 92px;
}

td {
    border: #000 0px solid;
    padding: 16px 0px;
}

.PPC__logo_text {
    padding-left: 48px;
    vertical-align: auto;
    justify-content: center;
    color: #000000;
    font-style: normal;
    font-weight: normal;
    font-size: 32px;
    line-height: 37px;
}

.PPC h2 {
    color: #007765;
    font-style: normal;
    font-weight: 500;
    font-size: 64px;
    line-height: 75px;
    justify-content: center;
    text-align: center;
    padding-top: 48px;
}

.PPC__text {
    color: #000000;
    font-style: normal;
    font-weight: normal;
    font-size: 32px;
    line-height: 37px;
    padding: 16px 0 92px;
}

.team {
    background-color: #EEEEEE;
    width: 100%;
    height: 845px;
    padding-left: 15px;
    padding-right: 15px;
}

.team h2 {
    color: #007765;
    font-style: normal;
    font-weight: 500;
    font-size: 64px;
    line-height: 75px;
    justify-content: center;
    text-align: center;
    padding-top: 58px;
}

.team__team1 {
    text-align: center;
    margin-top: 56px;
    margin-bottom: 82px;

    /*border:#000 1px solid;*/
}

.richard {
    display: inline-block;
    text-align: center;

    /*border:#000 1px solid;*/
}

.richard img {
    width: 168px;
    height: 168px;
}

.richard figcaption {
    font-style: normal;
    font-weight: bold;
    font-size: 24px;
    line-height: 28px;
    text-align: center;
    color: #007765;
    margin-top: 12px;
}

.richard p {
    font-style: italic;
    font-weight: normal;
    font-size: 18px;
    line-height: 21px;
    text-align: center;
}

.dinesh {
    display: inline-block;
    text-align: center;
    margin-left: 212px;
    margin-right: 212px;

    /*border:#000 1px solid;*/
}

.dinesh img {
    width: 168px;
    height: 168px;
}

.dinesh figcaption {
    font-style: normal;
    font-weight: bold;
    font-size: 24px;
    line-height: 28px;
    text-align: center;
    color: #007765;
    margin-top: 12px;
}

.dinesh p {
    font-style: italic;
    font-weight: normal;
    font-size: 18px;
    line-height: 21px;
    text-align: center;
}

.bertram {
    display: inline-block;
    text-align: center;

    /*border:#000 1px solid;*/
}

.bertram img {
    width: 168px;
    height: 168px;
}

.bertram figcaption {
    font-style: normal;
    font-weight: bold;
    font-size: 24px;
    line-height: 28px;
    text-align: center;
    color: #007765;
    margin-top: 12px;
}

.bertram p {
    font-style: italic;
    font-weight: normal;
    font-size: 18px;
    line-height: 21px;
    text-align: center;
}


.team__team2 {
    text-align: center;
    margin-top: 56px;
    margin-bottom: 112px;

    /*border:#000 1px solid;*/
}

.jared {
    display: inline-block;
    text-align: center;

    /*border:#000 1px solid;*/
}

.jared img {
    width: 168px;
    height: 168px;
}

.jared figcaption {
    font-style: normal;
    font-weight: bold;
    font-size: 24px;
    line-height: 28px;
    text-align: center;
    color: #007765;
    margin-top: 12px;
}

.jared p {
    font-style: italic;
    font-weight: normal;
    font-size: 18px;
    line-height: 21px;
    text-align: center;
}

.monica {
    display: inline-block;
    text-align: center;
    margin-left: 212px;
    margin-right: 212px;

    /*border:#000 1px solid;*/
}

.monica img {
    width: 168px;
    height: 168px;
}

.monica figcaption {
    font-style: normal;
    font-weight: bold;
    font-size: 24px;
    line-height: 28px;
    text-align: center;
    color: #007765;
    margin-top: 12px;
}

.monica p {
    font-style: italic;
    font-weight: normal;
    font-size: 18px;
    line-height: 21px;
    text-align: center;
}

.nelson {
    display: inline-block;
    text-align: center;

    /*border:#000 1px solid;*/
}

.nelson img {
    width: 168px;
    height: 168px;
}

.nelson figcaption {
    font-style: normal;
    font-weight: bold;
    font-size: 24px;
    line-height: 28px;
    text-align: center;
    color: #007765;
    margin-top: 12px;
}

.nelson p {
    font-style: italic;
    font-weight: normal;
    font-size: 18px;
    line-height: 21px;
    text-align: center;
}

footer {
    height: 176px;
    background-color: #333333;
    box-sizing: border-box;
    padding-top: 5px;
}

.socials {
    weight: 50px;
    height: 50px;
    padding-top: 45px;
}

.copyryght {
    text-align: center;
    
}

footer p {
    text-align: center;
    color: #ffffff;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 21px;
    margin: auto;
    top: 50%;

    width: 540px;
    height: 64px;
}